APP_ENV=development
COMPOSE_FILE=compose.yaml:compose.development.yml
APP_DEBUG=true
WEB_PORT=8080
APP_URL=http://localhost:${WEB_PORT}

DB_HOST=db
DB_PORT=3306
DB_DATABASE=vulture_blog
DB_USERNAME=vulture
DB_PASSWORD=vulture_password
DB_ROOT_PASSWORD=root_password
